body {
  background: #040707;

  .wrap {
    width: 100%;
    background: #040707;

    .content {
      .inner {
        margin: 30px auto;
        width: 1200px;

        h2 {
          text-align: center;
          align-items: center;
          border-bottom: 4px solid #eb2529;
          margin-bottom: 30px;
          img {
            width: 50%;
            margin-bottom: 30px;
          }
        }
      }
    }
    .info {
      margin: auto;
      width: 1200px;
      height: 600px;
      display: flex;
      border-bottom: 4px solid #eb2529;
    }
  }
}
